@model Facebook.Models.Comment

@using (Ajax.BeginForm("CreateComment",  routeValues: new { PostID = ViewBag.PostID }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "HomeGetAllPostsDiv_", OnSuccess = "SuccessComment()" }, htmlAttributes: new { @class = "createCommentForm" }))
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="Comment-modal-body-Div">
            <div class="col-12">
                <img id="Post-modal-body-img" src="~/Image/@ViewBag.Image" />
                @Html.TextAreaFor(model => model.Comment_Body, new { @class = "w3-border w3-padding", id = "Post-modal-body-txt", @placeholder = "Write Comment..." })
                @Html.ValidationMessageFor(model => model.Comment_Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Comment</button>
        </div>
    </div>
}











