@model IEnumerable<Facebook.Models.ApplicationUser>

<ul>

    @*each friend is contact and ro represent its statue there id classes  (online,busy,away,none class of them mean ofline)
        class (active) means the friend iam cliking on or openning its chat*@
    @{
        foreach (var item in Model)
        {

            <li class="contact  GoToMessage">

                @using (Ajax.BeginForm("MessageChat", "Chat", routeValues: new { FriendID = item.Id }, ajaxOptions: new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "COntentMessage", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "myforms" })) { }
                <div class="wrap">
                    <span class="contact-status online"></span>
                    @*friendImage*@
                    <img src="~/Image/@(item.image)" alt="" />
                    <div class="meta">
                        @*firendName*@
                        <p class="name">@item.UserName </p>
                    </div>
                </div>

            </li>
        }
    }

</ul>






